* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  margin: 0px;
  font-family: "Muli", sans-serif;
}

.tabBlock {
  display: none;
}

#Page1 {
  display: block;
  text-align: center;
}

#Page5 {
  text-align: center;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #surveyForm {
    background-color: #ffffff;
    padding: 1em;
    width: 100%;
    margin: 0px;
    height: 38em;
  }
  .footerProgress .container {
    margin: 0em 1em;
  }
  .progressBar button {
    margin: 0em 0.5em;
  }

  .actionButtons button {
    font-size: 0.9em;
    padding: 0.5em;
    margin: 0.2em;
  }
  .mcqBtn {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #surveyForm {
    background-color: #ffffff;
    padding: 40px;
    width: 100%;
    margin: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #surveyForm {
    background-color: #ffffff;
    border: 1px solid #a8b7c7;
    margin: 7em auto;
    padding: 2em;
    width: 50%;
    min-width: 300px;
    box-shadow: 0 22px 29px 0 #a8b7c7;
    background-color: #ffffff;
    min-height: 27em;
  }

  .actionButtons button {
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0.2em;
  }

  .tabBlock h1 {
    font-family: "Muli", sans-serif;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #3e3e3c;
  }
  .actionInst {
    text-align: left !important;
  }

  .tabBlock p {
    font-family: "Muli", sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #3e3e3c;
  }

  .footerProgress .container {
    margin: 0em 5em;
  }
  .mcqBtn {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footerProgress .container {
    margin: 0em 5em;
  }
}

.rectFormModal {
  box-shadow: 0 22px 29px 0 #a8b7c7;
  background-color: #ffffff;
}

.footerLogo {
  float: right;
  margin: 0.5em 0em;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

.logo {
  margin: 0 auto;
  text-align: center;
}

.logo img {
  width: 13em;
  height: auto;
}

.tabBlock {
  padding: 1em 0em;
  width: 100%;
}

.startBtn,
.endBtn {
  background-color: #4a4a4a !important;
  color: #ffffff !important;
}

button {
  background-color: #ffffff;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 0.5em 1.7em;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.actionButtons {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.actionButtons button {
  background: #ffffff;
  color: #4a4a4a;
  border-radius: 4.6px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: 1px solid #bcc1c5;
  font-family: "Muli", sans-serif;
}

.actionButtons button:hover {
  background: #4a4a4a;
  color: #ffffff;
}

.ratingLable {
  font-family: "Muli", sans-serif;
  width: 100%;
  padding: 0px 0.3em;
}

.highestRatingLable {
  float: right;
  width: 10%;
  text-align: right;
  font-size: 12px;
  color: #706e6b;
}

.lowestRatingLable {
  float: left;
  width: 10%;
  text-align: left;
  font-size: 12px;
  color: #706e6b;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

div label input {
  margin-right: 100px;
}

#ck-button label {
  float: left;
  width: 9em;
  margin: 1px;
  border: 1px solid #dddbda;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #ffffff;
  border-radius: 4px;
  color: #4a4a4a;
}

.mcqBtn {
  display: block;
  height: 3em;
}

.tabBlock textarea {
  width: 100%;
  height: 8em;
  border: 1px solid #dddbda;
  border-radius: 2px;
  color: #dddbda;
  font-size: 0.8em;
  margin: 0em 0em 0.8em 0em;
}

.footerProgress {
  width: 100%;
  background: #fff;
  padding: 1em;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #dddbda;
}

.progressBar p {
  margin: 0px;
  font-size: 12px;
  font-family: "Muli", sans-serif;
}

.progressBar button {
  background: #ffffff;
  color: #4a4a4a;
  border-radius: 4.6px;
  background-color: #ffffff;
  border: 1px solid #dddbda;
  font-size: 10px;
  /* margin: 0em 1em; */
  padding: 5px 8px;
}

.progressBar progress {
  margin: 0em;
}

#ck-button label {
  width: 100%;
}

#ck-button label:hover {
  float: left;
  width: 100%;
  margin: 1px;
  border: 1px solid #4a4a4a;
  display: block;
  border-radius: 4px;
}

#ck-button label span {
  text-align: left;
  padding: 0.4em 0.6em;
  display: block;
  cursor: pointer;
}

#ck-button label input {
  position: absolute;
  top: -20px;
}

#ck-button input:checked + span {
  background-color: #706e6b;
  color: #fff;
  border-radius: 4px;
}

i {
  border: solid black;
  border-width: 0 1.2px 1.2px 0;
  display: inline-block;
  padding: 3px;
}

.arrowUp {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.progressLeft {
  width: 75%;
  float: left;
}

progress {
  width: 9em;
  margin: 2em auto;
  padding: 1px;
  border: 1px solid #4a4a4a;
  background: #fff;
  border-radius: 14px;
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: #4a4a4a;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4),
    0 2px 5px 0px rgba(0, 0, 0, 0.3);
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  progress {
    height: 12px;
  }
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 12px;
  background: #4a4a4a;
}
